<mat-toolbar color="primary">
    @if (showMenuButton) {
    <button mat-icon-button (click)="menuClick.emit()">
        <mat-icon>menu</mat-icon>
    </button>
    }
    <span>Gestion Financière</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="themeService.toggleTheme()">
        <mat-icon>{{ themeService.isDark() ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </button>
    <button mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>